In [126]:
# utilities
import re
import numpy as np
import pandas as pd

# nltk
from nltk.stem import WordNetLemmatizer

#SpellCorrection
from spellchecker import SpellChecker

import string
import emoji

In [127]:
# Importing the dataset
DATASET_COLUMNS=['target','ids','date','flag','user','text']
DATASET_ENCODING = "ISO-8859-1"
df = pd.read_csv('Smalldata.csv', encoding=DATASET_ENCODING, names=DATASET_COLUMNS)
df.sample(5)

,target,ids,date,flag,user,text
13,0,1467812771,Mon Apr 06 22:20:19 PDT 2009,NO_QUERY,robrobbierobert,"@octolinz16 It it counts, idk why I did either..."
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
45,4,1467822994,Mon Apr 06 22:22:56 PDT 2009,NO_QUERY,sorano916,Didn't place in the Peeps contest but thanks f...
12,0,1467812723,Mon Apr 06 22:20:19 PDT 2009,NO_QUERY,TLeC,@caregiving I couldn't bear to watch it. And ...
21,0,1467813992,Mon Apr 06 22:20:38 PDT 2009,NO_QUERY,swinspeedx,"one of my friend called me, and asked to meet ..."

In [128]:
df.head()

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [129]:
df.columns

Index(['target', 'ids', 'date', 'flag', 'user', 'text'], dtype='object')

In [130]:
print('length of data is', len(df))

length of data is 50

In [131]:
df.shape

(50, 6)

In [132]:
df.info

<bound method DataFrame.info of     target         ids                          date      flag  \
0        0  1467810369  Mon Apr 06 22:19:45 PDT 2009  NO_QUERY
1        0  1467810672  Mon Apr 06 22:19:49 PDT 2009  NO_QUERY
2        0  1467810917  Mon Apr 06 22:19:53 PDT 2009  NO_QUERY
3        0  1467811184  Mon Apr 06 22:19:57 PDT 2009  NO_QUERY
4        0  1467811193  Mon Apr 06 22:19:57 PDT 2009  NO_QUERY
5        0  1467811372  Mon Apr 06 22:20:00 PDT 2009  NO_QUERY
6        0  1467811592  Mon Apr 06 22:20:03 PDT 2009  NO_QUERY
7        0  1467811594  Mon Apr 06 22:20:03 PDT 2009  NO_QUERY
8        0  1467811795  Mon Apr 06 22:20:05 PDT 2009  NO_QUERY
9        0  1467812025  Mon Apr 06 22:20:09 PDT 2009  NO_QUERY
10       0  1467812416  Mon Apr 06 22:20:16 PDT 2009  NO_QUERY
11       0  1467812579  Mon Apr 06 22:20:17 PDT 2009  NO_QUERY
12       0  1467812723  Mon Apr 06 22:20:19 PDT 2009  NO_QUERY
13       0  1467812771  Mon Apr 06 22:20:19 PDT 2009  NO_QUERY
14       0  1467812784  Mon Apr 06 22:20:20 PDT 2009  NO_QUERY
15       0  1467812799  Mon Apr 06 22:20:20 PDT 2009  NO_QUERY
16       0  1467812964  Mon Apr 06 22:20:22 PDT 2009  NO_QUERY
17       0  1467813137  Mon Apr 06 22:20:25 PDT 2009  NO_QUERY
18       0  1467813579  Mon Apr 06 22:20:31 PDT 2009  NO_QUERY
19       0  1467813782  Mon Apr 06 22:20:34 PDT 2009  NO_QUERY
20       0  1467813985  Mon Apr 06 22:20:37 PDT 2009  NO_QUERY
21       0  1467813992  Mon Apr 06 22:20:38 PDT 2009  NO_QUERY
22       0  1467814119  Mon Apr 06 22:20:40 PDT 2009  NO_QUERY
23       0  1467814180  Mon Apr 06 22:20:40 PDT 2009  NO_QUERY
24       0  1467814192  Mon Apr 06 22:20:41 PDT 2009  NO_QUERY
25       4  1467822272  Mon Apr 06 22:22:45 PDT 2009  NO_QUERY
26       4  1467822273  Mon Apr 06 22:22:45 PDT 2009  NO_QUERY
27       4  1467822283  Mon Apr 06 22:22:46 PDT 2009  NO_QUERY
28       4  1467822287  Mon Apr 06 22:22:46 PDT 2009  NO_QUERY
29       4  1467822293  Mon Apr 06 22:22:46 PDT 2009  NO_QUERY
30       4  1467822391  Mon Apr 06 22:22:47 PDT 2009  NO_QUERY
31       4  1467822447  Mon Apr 06 22:22:51 PDT 2009  NO_QUERY
32       4  1467822465  Mon Apr 06 22:22:48 PDT 2009  NO_QUERY
33       4  1467822489  Mon Apr 06 22:22:49 PDT 2009  NO_QUERY
34       4  1467822496  Mon Apr 06 22:22:49 PDT 2009  NO_QUERY
35       4  1467822530  Mon Apr 06 22:22:49 PDT 2009  NO_QUERY
36       4  1467822531  Mon Apr 06 22:22:49 PDT 2009  NO_QUERY
37       4  1467822635  Mon Apr 06 22:22:51 PDT 2009  NO_QUERY
38       4  1467822729  Mon Apr 06 22:22:52 PDT 2009  NO_QUERY
39       4  1467822796  Mon Apr 06 22:22:53 PDT 2009  NO_QUERY
40       4  1467822814  Mon Apr 06 22:22:54 PDT 2009  NO_QUERY
41       4  1467822899  Mon Apr 06 22:22:58 PDT 2009  NO_QUERY
42       4  1467822924  Mon Apr 06 22:22:55 PDT 2009  NO_QUERY
43       4  1467822936  Mon Apr 06 22:22:57 PDT 2009  NO_QUERY
44       4  1467822964  Mon Apr 06 22:22:56 PDT 2009  NO_QUERY
45       4  1467822994  Mon Apr 06 22:22:56 PDT 2009  NO_QUERY
46       4  1467823016  Mon Apr 06 22:22:57 PDT 2009  NO_QUERY
47       4  1467823046  Mon Apr 06 22:22:57 PDT 2009  NO_QUERY
48       4  1467823079  Mon Apr 06 22:22:58 PDT 2009  NO_QUERY
49       4  1467823109  Mon Apr 06 22:22:58 PDT 2009  NO_QUERY

               user                                               text
0   _TheSpecialOne_  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1     scotthamilton  is upset that he can't update his Facebook by ...
2          mattycus  @Kenichan I dived many times for the ball. Man...
3           ElleCTF    my whole body feels itchy and like its on fire
4            Karoli  @nationwideclass no, it's not behaving at all....
5          joy_wolf                      @Kwesidei not the whole crew
6           mybirch                                        Need a hug
7              coZZ  @LOLTrish hey  long time no see! Yes.. Rains a...
8   2Hood4Hollywood               @Tatiana_K nope they didn't have it
9           mimismo                          @twittera que me muera ?
10   erinx3leannexo        spring break in plain city... it's snowing
11     pardonlauren                         I just re-pierced my ears
12             TLeC  @caregiving I couldn't bear to watch it.  And ...
13  robrobbierobert  @octolinz16 It it counts, idk why I did either...
14      bayofwolves  @smarrison i would've been the first, but i di...
15       HairByJess  @iamjazzyfizzle I wish I got to watch it with ...
16   lovesongwriter  Hollis' death scene will hurt me severely to w...
17         armotley                               about to file taxes
18       starkissed  @LettyA ahh ive always wanted to see rent  lov...
19        gi_gi_bee  @FakerPattyPattz Oh dear. Were you drinking ou...
20           quanvu  @alydesigns i was out most of the day so didn'...
21       swinspeedx  one of my friend called me, and asked to meet ...
22        cooliodoc   @angry_barista I baked you a cake but I ated it
23       viJILLante             this week is not going as i had hoped
24       Ljelli3166                         blagh class at 8 tomorrow
25            ersle    I !!!LOVE @Health4UandPets u guys r the best!!Ê
26         becca210  im!!!!!? meeting up with one of my besties ton...
27        Wingman29  @DaRealSunisaKim Thanks for the Twitter add, S...
28        katarinka  Being sick can be really cheap when it hurts t...
29      _EmilyYoung    @LovesBrooklyn2 he has that effect on everyoneÊ
30    ajarofalmonds  @ProductOfFear You can tell him that I just bu...
31        vmdavinci  @r_keith_hill Thans for your response. Ihad al...
32    jessicavaliyi  @KeepinUpWKris I am so jealous, hope you had a...
33       emmasaur28  @tommcfly ah, congrats mr fletcher for finally...
34    SherylBreuker  @e4VoIP I RESPONDEDÊ Stupid cat is helping me ...
35          claaare  crazy day of school. there for 10 hours straii...
36   Hollywood_Trey  @naughtyhaughty HOW DID I FORGET ABOUT TWO AND...
37       JJLuver756  @nileyjileyluver Haha, don't worry! You'll get...
38        tophatdog  @soundwav2010 At least I won't be the only one...
39  toothfairycyber  @LutheranLucciol Make sure you DM me if you po...
40    misstoriblack               Just added tweetie to my new iPhoneÊ
41        estariray  @michellardi i really don't know. i think its ...
42           ddjuli         @nicolerichie: your picture is very sweetÊ
43      adamjackson  Catching Up on Emails, RSS and Random BACN. Th...
44      lightleaves  Dancing around the room in Pjs, jamming to my ...
45        sorano916  Didn't place in the Peeps contest but thanks f...
46   livelaughenjoy  Going to bed so goodnight everyoneÊ and sweet ...
47           rwang0  @LittleLumen walking over to put the deposit d...
48  oOLuciousLisaOo  is now followinq @DAChesterFrench , you shud d...
49         mark_liu  @LordPov Are you meant to add on the back of t...  >

In [133]:
df.dtypes

target     int64
ids        int64
date      object
flag      object
user      object
text      object
dtype: object

In [134]:
np.sum(df.isnull().any(axis=1))

0

In [135]:
print('Count of columns in the data is:  ', len(df.columns))
print('Count of rows in the data is:  ', len(df))

Count of columns in the data is:   6
Count of rows in the data is:   50

In [136]:
df['target'].unique()

array([0, 4])

In [137]:
df['target'].nunique()

2

In [138]:
#Data preprocessing
data=df[['text','target']]

In [139]:
data.loc[data['target'] == 4, 'target'] = 1

In [140]:
data['target'].unique()

array([0, 1])

In [141]:
data_pos = data[data['target'] == 1]
data_neg = data[data['target'] == 0]

In [142]:
data_pos = data_pos.iloc[:int(25)]
data_neg = data_neg.iloc[:int(25)]

In [143]:
dataset = pd.concat([data_pos, data_neg])

In [144]:
def cleaning_numbers(data):
    return re.sub('[0-9]+', '', data)
dataset['text'] = dataset['text'].apply(lambda x: cleaning_numbers(x))
dataset['text'].tail()

20    @alydesigns i was out most of the day so didn'...
21    one of my friend called me, and asked to meet ...
22     @angry_barista I baked you a cake but I ated it
23               this week is not going as i had hoped
24                            blagh class at  tomorrow
Name: text, dtype: object

In [145]:
def clean_tweet(text):
    # Remove URLs
    text = re.sub(r'https?://\S+|www\.\S+', '', text)

    # Remove hashtags and mentions
    text = re.sub(r'@\w+|#\w+', '', text)

    # Remove any remaining special characters and whitespace
    text = re.sub(r'[^A-Za-z0-9 ]+', ' ', text)
    
    # Remove extra whitespace
    text = ' '.join(text.split())

    return text

# Apply the cleaning function to the 'text' column in your dataset
dataset['text'] = dataset['text'].apply(clean_tweet)

# Assuming you have a dataset and you've applied the clean_tweet function as you mentioned

# you can view the 'text' column in the entire dataset
print(dataset['text'])

25                             I LOVE u guys r the best
26    im meeting up with one of my besties tonight C...
27    Thanks for the Twitter add Sunisa I got to mee...
28    Being sick can be really cheap when it hurts t...
29                       he has that effect on everyone
30    You can tell him that I just burst out laughin...
31    Thans for your response Ihad already find this...
32    I am so jealous hope you had a great time in v...
33    ah congrats mr fletcher for finally joining tw...
34    I RESPONDED Stupid cat is helping me type Forg...
35    crazy day of school there for hours straiiight...
36    HOW DID I FORGET ABOUT TWO AND A HALF MEN I LO...
37           Haha don t worry You ll get the hang of it
38    At least I won t be the only one feeling lost ...
39    Make sure you DM me if you post a link to that...
40                  Just added tweetie to my new iPhone
41    i really don t know i think its Globe yeah san...
42                           your picture is very sweet
43    Catching Up on Emails RSS and Random BACN Then...
44    Dancing around the room in Pjs jamming to my i...
45    Didn t place in the Peeps contest but thanks f...
46    Going to bed so goodnight everyone and sweet d...
47        walking over to put the deposit down tomorrow
48                is now followinq you shud do tha same
49    Are you meant to add on the back of that quot ...
0     Awww that s a bummer You shoulda got David Car...
1     is upset that he can t update his Facebook by ...
2     I dived many times for the ball Managed to sav...
3        my whole body feels itchy and like its on fire
4     no it s not behaving at all i m mad why am i h...
5                                    not the whole crew
6                                            Need a hug
7     hey long time no see Yes Rains a bit only a bi...
8                              nope they didn t have it
9                                          que me muera
10              spring break in plain city it s snowing
11                            I just re pierced my ears
12    I couldn t bear to watch it And I thought the ...
13    It it counts idk why I did either you never ta...
14    i would ve been the first but i didn t have a ...
15    I wish I got to watch it with you I miss you a...
16    Hollis death scene will hurt me severely to wa...
17                                  about to file taxes
18    ahh ive always wanted to see rent love the sou...
19    Oh dear Were you drinking out of the forgotten...
20    i was out most of the day so didn t get much done
21    one of my friend called me and asked to meet w...
22                     I baked you a cake but I ated it
23                this week is not going as i had hoped
24                              blagh class at tomorrow
Name: text, dtype: object

In [146]:
def cleaning_repeating_char(text):
    return re.sub(r'(.)1+', r'1', text)
dataset['text'] = dataset['text'].apply(lambda x: cleaning_repeating_char(x))
row_index = 0
dataset['text'].tail()

20    i was out most of the day so didn t get much done
21    one of my friend called me and asked to meet w...
22                     I baked you a cake but I ated it
23                this week is not going as i had hoped
24                              blagh class at tomorrow
Name: text, dtype: object

In [147]:
# Function for spell correction using pySpellChecker
def spell_correction(text):
    spell = SpellChecker()
    words = text.split()
    corrected_words = [spell.correction(word) if spell.correction(word) is not None else word for word in words]
    return ' '.join(corrected_words)

# Apply spell correction to the first row only
dataset['text'] = dataset['text'].apply(spell_correction)

# Display the entire dataset
print(dataset)

                                                 text  target
25                           I LOVE u guys i the best       1
26  im meeting up with one of my besties tonight C...       1
27  Thanks for the Twitter add punish I got to mee...       1
28  Being sick can be really cheap when it hurts t...       1
29                     he has that effect on everyone       1
30  You can tell him that I just burst out laughin...       1
31  than for your response had already find this a...       1
32  I am so jealous hope you had a great time in v...       1
33  ah congrats my fletcher for finally joining tw...       1
34  I RESPONDED Stupid cat is helping me type Forg...       1
35  crazy day of school there for hours straight a...       1
36  HOW DID I FORGET ABOUT TWO AND A HALF MEN I LO...       1
37        Haha don i worry You all get the hang of it       1
38  At least I won i be the only one feeling lost ...       1
39  Make sure you do me if you post a link to that...       1
40                Just added sweetie to my new iPhone       1
41  i really don i know i think its Globe yeah san...       1
42                         your picture is very sweet       1
43  Catching Up on Emails ass and Random back Then...       1
44  Dancing around the room in pas jamming to my i...       1
45  Didn i place in the Peeps contest but thanks f...       1
46  Going to bed so goodnight everyone and sweet d...       1
47      walking over to put the deposit down tomorrow       1
48              is now following you shut do tha same       1
49  Are you meant to add on the back of that quit ...       1
0   aww that i a bummer You shoulda got David Carr...       0
1   is upset that he can i update his Facebook by ...       0
2   I dived many times for the ball Managed to sav...       0
3      my whole body feels itchy and like its on fire       0
4   no it i not behaving at all i i mad why am i h...       0
5                                  not the whole crew       0
6                                          Need a hug       0
7   hey long time no see Yes Rains a bit only a bi...       0
8                            nope they didn i have it       0
9                                        que me meera       0
10            spring break in plain city it i snowing       0
11                          I just re pierced my ears       0
12  I couldn i bear to watch it And I thought the ...       0
13  It it counts ink why I did either you never ta...       0
14  i would ve been the first but i didn i have a ...       0
15  I wish I got to watch it with you I miss you a...       0
16  Hollis death scene will hurt me severely to wa...       0
17                                about to file taxes       0
18  ah ive always wanted to see rent love the soun...       0
19  Oh dear Were you drinking out of the forgotten...       0
20  i was out most of the day so didn i get much done       0
21  one of my friend called me and asked to meet w...       0
22                    I baked you a cake but I ate it       0
23              this week is not going as i had hoped       0
24                             blah class at tomorrow       0

In [148]:
stopwordlist = ['a', 'about', 'above', 'after', 'again', 'ain', 'all', 'am', 'an',
             'and','any','are', 'as', 'at', 'be', 'because', 'been', 'before',
             'being', 'below', 'between','both', 'by', 'can', 'd', 'did', 'do',
             'does', 'doing', 'down', 'during', 'each','few', 'for', 'from',
             'further', 'had', 'has', 'have', 'having', 'he', 'her', 'here',
             'hers', 'herself', 'him', 'himself', 'his', 'how', 'i', 'if', 'in',
             'into','is', 'it', 'its', 'itself', 'just', 'll', 'm', 'ma',
             'me', 'more', 'most','my', 'myself', 'now', 'o', 'of', 'on', 'once',
             'only', 'or', 'other', 'our', 'ours','ourselves', 'out', 'own', 're','s', 'same', 'she', "shes", 'should', "shouldve",'so', 'some', 'such',
             't', 'than', 'that', "thatll", 'the', 'their', 'theirs', 'them',
             'themselves', 'then', 'there', 'these', 'they', 'this', 'those',
             'through', 'to', 'too','under', 'until', 'up', 've', 'very', 'was',
             'we', 'were', 'what', 'when', 'where','which','while', 'who', 'whom',
             'why', 'will', 'with', 'won', 'y', 'you', "youd","youll", "youre",
             "youve", 'your', 'yours', 'yourself', 'yourselves']

In [149]:
STOPWORDS = set(stopwordlist)
def cleaning_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])
dataset['text'] = dataset['text'].apply(lambda text: cleaning_stopwords(text))
dataset['text'].head()

25                                   I LOVE u guys best
26    im meeting one besties tonight Cant wait GIRL ...
27    Thanks Twitter add punish I got meet HIN show ...
28    Being sick really cheap hurts much eat real fo...
29                                      effect everyone
Name: text, dtype: object

In [150]:
from nltk.tokenize import RegexpTokenizer
tokenizer = RegexpTokenizer(r'\w+')
dataset['text'] = dataset['text'].apply(lambda x: ' '.join(x) if isinstance(x, list) else x)
dataset['text'] = dataset['text'].apply(tokenizer.tokenize)
dataset['text'].head()

25                             [I, LOVE, u, guys, best]
26    [im, meeting, one, besties, tonight, Cant, wai...
27    [Thanks, Twitter, add, punish, I, got, meet, H...
28    [Being, sick, really, cheap, hurts, much, eat,...
29                                   [effect, everyone]
Name: text, dtype: object

In [151]:
import nltk
st = nltk.PorterStemmer()
def stemming_on_text(data):
    text = [st.stem(word) for word in data]
    return data
dataset['text']= dataset['text'].apply(lambda x: stemming_on_text(x))
dataset['text'].head()

25                             [I, LOVE, u, guys, best]
26    [im, meeting, one, besties, tonight, Cant, wai...
27    [Thanks, Twitter, add, punish, I, got, meet, H...
28    [Being, sick, really, cheap, hurts, much, eat,...
29                                   [effect, everyone]
Name: text, dtype: object

In [152]:
lm = nltk.WordNetLemmatizer()
def lemmatizer_on_text(data):
    text = [lm.lemmatize(word) for word in data]
    return data
dataset['text'] = dataset['text'].apply(lambda x: lemmatizer_on_text(x))
dataset['text'].head()

25                             [I, LOVE, u, guys, best]
26    [im, meeting, one, besties, tonight, Cant, wai...
27    [Thanks, Twitter, add, punish, I, got, meet, H...
28    [Being, sick, really, cheap, hurts, much, eat,...
29                                   [effect, everyone]
Name: text, dtype: object

In [ ]:
import string

# Define a custom list of known emojis to remove
custom_emojis = ['😀', '😃', '😄', '😁', '😆', '😅', '😂', '🤣', '😊', '😇']  # Add more emojis as needed

# Define the punctuation list
punctuations_list = string.punctuation

# Function to remove punctuation and known emojis from a string
def remove_punctuations_and_known_emojis(text):
    translator = str.maketrans('', '', punctuations_list)
    text_without_punctuations = text.translate(translator)
    for emoji in custom_emojis:
        text_without_punctuations = text_without_punctuations.replace(emoji, '')
    return text_without_punctuations

# Function to process a list of strings within each cell
def process_text_list(text_list, process_function):
    return [process_function(text) for text in text_list]

# Display the menu and get the user's choice
while True:
    print("Choose an option:")
    print("1. Remove Punctuation and Known Emojis")
    print("2. Convert Emoticons to Words")
    print("3. Quit")
    choice = input("Enter the option number: ")

    if choice == '1':
        dataset['text'] = [process_text_list(text, remove_punctuations_and_known_emojis) for text in dataset['text']]
        print("Punctuation and known emojis removed from 'text' column.")
        # Print the first few rows of the 'text' column after processing
        print("Output after removing punctuation and known emojis:")
        for text in dataset['text'][:5]:  # Print the first 5 rows as an example
            print(text)
    elif choice == '2':
        # Add your code for Option 2 (Emoticon to Word conversion) here
        print("You chose Option 2")
    elif choice == '3':
        print("Goodbye!")
        break
    else:
        print("Invalid choice. Please select a valid option (1, 2, or 3).")

Choose an option:
1. Remove Punctuation and Known Emojis
2. Convert Emoticons to Words
3. Quit
Enter the option number: 1
Punctuation and known emojis removed from 'text' column.
Output after removing punctuation and known emojis:
['I', 'LOVE', 'u', 'guys', 'best']
['im', 'meeting', 'one', 'besties', 'tonight', 'Cant', 'wait', 'GIRL', 'TALK']
['Thanks', 'Twitter', 'add', 'punish', 'I', 'got', 'meet', 'HIN', 'show', 'area', 'sweetheart']
['Being', 'sick', 'really', 'cheap', 'hurts', 'much', 'eat', 'real', 'food', 'Plus', 'friends', 'make', 'soup']
['effect', 'everyone']
Choose an option:
1. Remove Punctuation and Known Emojis
2. Convert Emoticons to Words
3. Quit
Enter the option number: 2
You chose Option 2
Choose an option:
1. Remove Punctuation and Known Emojis
2. Convert Emoticons to Words
3. Quit